<%- include("../partials/navbar.ejs") %>
    <div>
        <div class="undergraduate-programs">
            <figure class="figure">
                <img src="academic.png" alt="">
                <figcaption>undergraduate programs</figcaption>
            </figure>
            <img src="ENG.jfif" alt="" class="ENG">
        </div>

        <div class="Faculty-container">
            <div class="faculty-academic Science">
                <div class="image"><i class='fas fa-atom' style='font-size:24px'></i></div>
                <div class="text">
                    <h2>Faaculty of science</h2>
                    <p>The faculty of Sciences at Gaheyr campus was first launched in 1974. It wascomposed of geology,
                        chemical industry, mathematics, physics, chemistry, engineering (both mechanical & civil
                        engineering) and biology.</p>
                    <p>This year 2019, the management of the university decided to <a href="">read more...</a></p>

                </div>
            </div>
            <div class="faculty-academic engineering">
                <div class="image"></div>
                <div class="text">
                    <h2>Faculty of engineering </h2>
                    <p>The faculty of engineering was established in 1973-74 and the first Somalia Engineers were
                        graduated in 1978, it was with two departments of Industrial and civil and environmental
                        engineering. The faculty was giving fresh engineers each year until <a href="">read more...</a>
                    </p>
                    <h3></h3>

                </div>
            </div>
            <div class="faculty-academic medicine">
                <div class="image"></div>
                <div class="text">
                    <h2>Faculty of medicine</h2>
                    <p>The faculty of medicine was founded in 1972 as it constituted a historic event to the process of
                        medical education in Somalia. The purpose of faculty was: to provide social medical services for
                        the community through producing qualifie <a href="">read more...</a></p>
                </div>
            </div>
            <div class="faculty-academic">
                <div class="image"></div>
                <div class="text">
                    <p></p>
                    <h3></h3>
                    <a href=""></a>
                </div>
            </div>
            <div class="faculty-academic">
                <div class="image"></div>
                <div class="text">
                    <p></p>
                    <h3></h3>
                    <a href=""></a>
                </div>
            </div>
            <div class="faculty-academic">
                <div class="image"></div>
                <div class="text">
                    <p></p>
                    <h3></h3>
                    <a href=""></a>
                </div>
            </div>
            <div class="faculty-academic">
                <div class="image"></div>
                <div class="text">
                    <p></p>
                    <h3></h3>
                    <a href=""></a>
                </div>
            </div>
            <div class="faculty-academic">
                <div class="image"></div>
                <div class="text">
                    <p></p>
                    <h3></h3>
                    <a href=""></a>
                </div>
            </div>
            <div class="faculty-academic">
                <div class="image"></div>
                <div class="text">
                    <p></p>
                    <h3></h3>
                    <a href=""></a>
                </div>
            </div>
            <div class="faculty-academic">
                <div class="image"></div>
                <div class="text">
                    <p></p>
                    <h3></h3>
                    <a href=""></a>
                </div>
            </div>
        </div>


    </div>


    <%- include("../partials/footer.ejs") %>