<footer>

    <div class="section1">
        <div class="seclogo">
            <img src="images-removebg-preview.png" alt="Logo">
        </div>
        <div class="sectext">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur voluptate ad laboriosam odit accusamus minus! Esse, minus fuga! Excepturi quidem eligendi vero ullam illum distinctio id laudantium dignissimos rerum similique expedita deserunt enim dolorum quos quod tempora nam, optio ad esse nostrum nisi perspiciatis hic ipsa. Nulla odio iste recusandae!</p>
        </div>
    </div>

    <div class="section2 ">
        <div class="sec2content1">
            <h2> Contact us</h2>
            <ul class= "icon-link">
                <li><a href="mailto:info@snu.edu.so"> <i class="fa-solid fa-envelope"></i> info@snu.edu.so</a></li>
                <li><i class="fa-sharp fa-solid fa-phone"></i> +000000000000</li>
                <li>
                    <div class="icon">
                        <a href="https://www.facebook.com/snu.university/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://twitter.com/SNU_University" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#" target="_blank" ><i class="fa-brands fa-whatsapp" ></i></a>
                        <a href="mailto:info@snu.edu.so" target="_blank"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </li>
            </ul>

        </div>

        <div class="sec2content2">
            <h2>Campuses</h2>
            <ul>
                <li>KM4 <br><a href="mailto:km4@snu.edu.so"> <i class="fa-solid fa-envelope"></i> KM4@snu.edu.so</a> </li>
                <li> Geheer <br><a href="mailto:gaheyr@snu.edu.so"> <i class="fa-solid fa-envelope"></i> Gaheyrnu.edu.so</a></li>
                <li> Shabelle <br> <a href="mailto:shabelle@snu.edu.so"> <i class="fa-solid fa-envelope"></i> Shabelleu.edu.so</a></li>
            </ul>

        </div>
    </div>
</footer>