<%- include("./partials/navbar.ejs") %> 

<div>
    <div class="Rector-Messege">
        <figure>
             <img src="rector.jpg" alt="Rector image">
            <figcaption>Prof. Hassan Omar Mahadallah</figcaption>
            <h4>Rector </h4>
        </figure>

        <div class="messege">
            <h4>RECTOR’S MESSAGE</h4>
            <p>The Somali National University (SNU) is built on a foundation of academic excellence and social inclusivity. It is the oldest, premier, public university in the Country. Before the outbreak of the Civil War, SNU was one of the largest and academically renowned universities in Africa. As the serving rector, I am committed to restoring it to its former rank among its peers on the Continent and beyond.</p>
            <p>In our quest to restore SNU to its rightful place among the higher learning institutions of the world, we have taken several goal-oriented steps. At the center of these actions is the interest and well-being of our students. In this regard, we have raised the effectiveness of the organs of the University that support the physical, mental and social wellbeing of our students—principally, the Office of Social Affairs and the Student Government. These structures are designed to make the University environment conducive to student learning and social growth.</p>
            <p>On the academic front, we have embarked on an ambitious agenda of expansion. This is necessary if SNU has to fulfill its mandate to produce a skilled labor force with diverse academic training. For a starter, we have revived the Faculty of Languages, created a new Faculty of Health Sciences & Tropical Medicine, and expanded the Faculty of Sciences by adding a Computer Science Program with three concentrations—i.e., Software Engineering, Networks & Security, and Graphics and Multi-media. With twelve faculties, each including additional specializations, SNU is poised to fulfill its mandate.</p>
            <p>Presently, SNU is an undergraduate teaching institution. We are working diligently to advance it to a doctoral/research level institution. To this end, we are significantly increasing the number of researchers and terminal degree holders across the disciplines. We are also in the process of establishing research centers with the necessary resources to produce and disseminate knowledge. With an additional research unit and a strong culture of teaching, SNU is primed to reclaim its proper rank among the universities of the world.</p>
            <p>To ensure the sustainability of these achievements, we have instituted correlated improvements in infrastructure and personnel competence. In terms of infrastructure, we have rehabilitated two buildings with six classrooms and three offices each and added three laboratory buildings. We have also launched a digitization project designed to connect the University’s communication and IT systems. The Project is scheduled for completion before the close of the current academic year.</p>
            <p>Likewise, we have taken steps to raise the capacity of our academic and non-academic staff. So far, we have secured the following capacity building training and scholarships for our employees:</p>
            <ul>
                <li>Thirty-nine scholarships from Italy for our assistant professors and junior administrators (14 already issued and 25 pending for the next scholastic year);</li>
                <li>Four one-year, hands-on, capacity-building training for our registrars to be trained at the University of Witwatersrand (2 already issued and 2 for next year); and</li>
                <li>One position to train the Director of Social Affairs from the University of Pretoria, South Africa.</li>
            </ul>
            
            <p>In addition, we are about to roll out an internal training program to teach our non-academic staff how to write professional reports and official documents.</p>
            <p>In closing, SNU is on an upward trajectory. Since the last year, all its main sectors—i.e., infrastructure, administration, and academic sector–have seen positive changes. To ensure the sustainability of these achievements, we have instituted correlated reforms in the human resources sector. In this regard, we have instituted a merit-based system in the hiring, ranking, and promotion of all our employees. In addition, we have established the Office of Internationalization and appointed a substantive Director to oversee it. This Office is our window to the outside world. All these are done in the interest of capacity building and institutional development.</p>
            <p>Based on these accomplishments, SNU will soon recapture its previous stature. As the serving Rector, I am committed to the attainment of this worthy goal and do hereby encourage the university community (and the nation, for that matter) to look forward to the future with pride and confidence.</p>
        
            <div class="foot">
                <h2>Dr. Hassan Omar Mahadallah</h2>
                <h2>Rector</h2>
                <h2>Somali National University</h2>
            </div>
        </div>


    </div>

    <div class="SNU-HISTORY">
        <h2>SNU HISTORY</h2>
        <p>The Somali National University was established in 1954 in the Trust Territory of Somalia. It obtained official university status in 1969. The main university grounds were situated about six kilometers from the city center. Here, during the institution’s first thirty years, the main campus was known as Jaamacada Gaheyr (“Gaheyr University”).</p>
        <p>In 1973, under the Supreme Revolutionary Council (SRC), programs and facilities were expanded. The SNU developed over the next twenty years into an institution of higher learning, with 13 departments, 700 staff and over 15,000 students.</p>
        <p>Under the Somali revolutionary government, the Ministry of Higher Learning and Culture established research centers in a number of cities, with the goal of developing regional economies. These learning centers were earmarked for employees from such ministries as the Ministry of Agriculture, and the Ministry of Livestock and Forestry Management.</p>
        <p>In the mid-1970s, the teaching college of Lafoole University, one of SNU’s remote campuses, was made a stand-alone institution (“Lafoole Teacher’s College”). The language of instruction was English.</p>
        <p>Due to extensive damage to its facilities as well as the difficulty of holding classes and acquiring books and other necessities in the wake of the civil war in the early 1990s, classes at the university were suspended.</p>
    </div>
    <div class="Vissio-Mission">
        <h2>Vision</h2>
        <p>The establishment of an affordable and equitable world class public University that generates well-trained professionals that meet the socio-economic and technological needs of the country.</p>
        <h2>Mission</h2>
        <p>To acquire and improve quality National University that promotes knowledge, research and technology transfer so as to produce the necessary trained workforce for the country.</p>
    </div>

</div>


<%- include("./partials/footer.ejs") %> 
