<%- include("./partials/navbar.ejs") %> 

<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div>
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div><div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div><div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div><div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div><div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div><div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div>
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div><div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div><div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div><div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div><div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div><div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div><div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div><div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit nulla corrupti neque cupiditate, beatae, magnam temporibus facilis autem eos quibusdam velit, odio ipsa magni. Optio repellendus omnis voluptas explicabo?</p>
</div>


<%- include("./partials/footer.ejs") %> 
