<%- include("./partials/navbar.ejs") %> 

<div class="News">
    <% if (dbdata.length > 0) { %>
       <% dbdata.forEach((data) => { %>
        <h1> <%= data.title %> </h1>
        <p> <%= data.body %> </p>
       <% }) %>
    <% } %>
</div>

<%- include("./partials/footer.ejs") %> 
