<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <header>
       
        
        <div class="nav-text">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">Academics</a></li>
                    <li class="nav-img"><a href=""><img src="Logo.png" alt="Logo"></a></li>
                    <li><a href="">Admission</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">Contact us</a></li>
                   
                </ul>
            </nav>
        </div>
        <div id="name"><h1>Jaamacada Ummada</h1></div>

    </header>
