<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="Js.js"></script>
    <title>Jaamacada Ummada Soomaaliyeed </title>
    <link rel="icon" href="logo.png">
       
</head>
<body>
    <header>
       
        
        <div class="nav-text">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/allnews">News</a></li>
                    <li><a href="">Academics</a></li>
                    <li class="nav-img"><a href=""><img src="Logo.png" alt="Logo"></a></li>
                    <li><a href="/Admission">Admission</a></li>
                    <li><a href="">About us</a></li>
                    <li><a href="">Contact us</a></li>
                   
                </ul>
            </nav>
        </div>
        
        <div id="JUS-title"><h1>Jaamacada Ummada <br> Soomaliyeed</h1></div>

    </header>
