/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    font-family: 'Varela Round', sans-serif;
}

/* Colors CSS HEX  */
:root {
    --light-cornflower-blue: #8ecae6ff;
    --blue-green: #219ebcff;
    --prussian-blue: #023047ff;
    --selective-yellow: #ffb703ff;
    --tangerine: #fb8500ff;
}
/* Body  */
body{
    margin: 0;
    padding: 0;
    background-color: white;
}

/*############################################ NavBar ############################################ */
header {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    background-color: var(--prussian-blue);
    height: 230px;

}
header.expand {
    height: 70px;
    top: 0;
    /* position: sticky; */
    width: 100%;
}
/* Title Animation */
#JUS-title {
    height: 0;
    transition: 1s ease-in-out;
    text-align: center;
}
#JUS-title h1{
    margin-top: 0;
    color: var(--selective-yellow);
}
header:hover > #JUS-title{
    display: block;
    /* height: 100px; */
}

/* Image Animation */
.nav-img img {
    width: 120px;
    /* transition: 1s ease-in-out; */
}

.nav-img img.expand{
    width: 45px;
    transition: 1s ease-in-out;

}

/* header .nav-text:hover .nav-img img{
    transition: 1s ease-in-out;
    width: 150px;
} */

/* Text  */
.nav-text{
    padding: 0;
}
.nav-text ul {
    list-style-type: none;
    margin: 0;
}
.nav-text li{
    display: inline-block;
    padding: 10px 9px;
}
.nav-text a{
    text-decoration: none;
    font-size: 14pt;
    color: white;

}
 /* ################################################################################### */

 /* News ##################################################################################*/
.home-img {
   width: 100%;
   padding-top: 100px;
}
.home-img img {
   width: 100%;
   object-fit: contain;
   
}

.News{
   width: 100%;
}
.News > h1{
   margin: 0;
   padding: 20px;
   width: 100%;
   background-color: midnightblue;
}

.News-wrapper{
   /* overflow: hidden; */

}

.News-contents {
   display: flex;
   overflow: scroll;
   position: relative;
}
.headline-img {
   z-index: -1;
   box-sizing: border-box;  
}
.headline-img img {
   width: auto;
}
.top-blur{
   width: 1080px;
   z-index: 0;
   top: 0;
   height: 250px;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.521) 0%, rgba(107,106,106,0) 100%);
   position: absolute;
}
.headline-text {
   z-index: 1;
   position: absolute;
   color: white;
   width: 100%;
}

.headline-text a {
   text-decoration: none;
   color: white;
}

 /* footer ##################################################  */

 footer {
    display: grid;
    grid-template-columns: 700px auto;
    background-color: var(--prussian-blue);
    color: white;
    gap: 50px;
    width: 100%;
    margin-right: 0;

 }

 footer img {
    width: 200px;
 }
.section1{
    margin: 10px;
    margin-right: 10px;
}
 .section2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    /* justify-content: center; */
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 15px;
    
    
 }
 .sec2content2{
    margin-left: 80px;
    margin-right: 20px;
 }
 .sec2content2 a{
    text-decoration: none;
    color: gray;
    
 }
 .sec2content2 a:hover {
    color: var(--selective-yellow);
    border-bottom: 1px solid var(--blue-green);
 }
 .section2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 .section2 ul li {
    padding: 10px 0;
 }
 .sec2content2 ul li{
    padding-bottom: 20px;
 }
 

 .icon {
    display: flex;
    gap: 30px;
    
 }
 .icon a {
    text-decoration: none;
    color: gray;
    font-size: 1.5em;

 }
 /* .grey-c */


 .icon-link a {
    text-decoration: none;
    color: gray;
 }
 .icon a:hover {
    color: var(--selective-yellow);
    border-bottom: 1px solid var(--blue-green);
    
 }
 .section2 li{
    color: gray;
 }


.apply-req {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
    /* gap: 10px; */
}

.howtoContent >  ul li {
    list-style: none;
    padding: 8px;
}
.howtoContent ul {
    margin: 0;
    /* padding: 13px; */
}


.ul-styles {
    /* margin: 20px 20px; */
    border-left: 3px solid var(--tangerine);
    border-radius: 3%;
    width: 600px;
    padding: 20px 10px;
    box-shadow: 2px 0 4px black;
}

.leftborder {
    border-left: 5px solid var(--tangerine);
    padding-left: 20px;
}
 /* Admisson  */
 .AdmissionReq ul li > div {
    
 }

 .AdmissionReq ul li {
    padding: 5px 0;
 }

 .AdmissionReq ul {
    margin: 0;
    list-style: none;
    padding: 0;
 }

 .fees {
    padding: 20px;
 }
 
.center{
   border-left: 4px solid var(--tangerine);
    padding-left: 10px;
   font-weight: 700;
   font-size: 20pt;
   margin-left: 550px;
 }

 .feescontent {
    margin-bottom: 40px;
 }
 .feefaculties {
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;

 }

 .faculty {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    box-shadow: 2px 0 3px black;
    background-color: var(--blue-green);
    color: #ffff;
    border-radius: 3%;
 }
 .faculty p {
    margin-bottom: 0;
 }

 .faculty h3 {
    margin: 0;
    padding: 20px;
    color: white;
 }

 .click-button{
    margin-bottom: 30px;
    border: none;
    font-size: large;
   font-weight: 700;
   border-radius: 20px;
   background-color: var(--selective-yellow);
   padding: 10px 30px;
 }
 .click-button:hover{
   padding: 10px 30px;
   background-color: var(--blue-green);

 }
 .admissiomform
{
   text-align: center;
}

 /* Form style  */

 label{
   display: block;
   font-size: 16pt;
   /* margin-bottom: 10px; */
   margin-top: 10px;
 }
 .Admission_Form{
   margin: 50px 400px;
   /* box-shadow: 1px 2px 4px var(--tangerine) ; */
   border-left: 3px solid var(--tangerine);
    border-radius: 3%;
    width: 600px;
    padding: 15px 20px;
    box-shadow: 2px 0 4px black
 }
 .Admission_Form h3{
   border-left: 2px solid var(--tangerine);
   padding-left: 20px;
   margin-left: 140px;
   margin-bottom: 25px;
 }
 h3 , form{
   padding-left: 100px;
}
input{
   width: 300px;
   margin-bottom: 5px;
   padding: 8px 10px;
   color: rgb(75, 68, 68);

}
.sex label{
   display: inline;
   font-size: medium;
}
.sex p{
   font-size: 16pt;

}
.sex input{
   padding: 8px 10px;
   width: auto;
}
.ALL {
   display: flex;
}
.ALL select{
   width: 150px;
   margin-right: 5px;
}
.button{
   width: 400px;
   padding: 10px 16px;
   background-color: var(--blue-green);
   font-size: 1.5em;
   font-weight: 700;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border: none;
   border-radius: 30px;
   margin-top: 25px;

}
.button:hover{
   background-color: var(--tangerine);
   color: white;  
}



/*############################################ About us style ############################################ */


.Rector-Messege, .SNU-HISTORY ,.Vissio-Mission {
   width: 750px;
   margin: 60px auto;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
   padding: 10px;
   background-color:rgba(237, 243, 248, 0.435);
   border-left: 2px solid var(--prussian-blue);
}
.Rector-Messege figure{
   text-align: center;
   margin-bottom: 20px;
   padding: 10px;
}
.Rector-Messege figure img{
   border-radius: 50%;
   width: 150px;

}
.Rector-Messege figure figcaption{
   font-size: 14pt;
   font-weight: 600;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.Rector-Messege figure h4{
   margin: 2px ;
}
.messege  {
   margin-left: 50px;
   margin-right: 40px;
   text-align: justify;
}
.foot{
   margin-top: 50px;
   margin-bottom: 40px;
   border-top: 2px solid var(--blue-green) ;
   width: 300px;
   padding-top: 10px;
}
.foot h2{
   margin: 4px;
   font-size: 1.1em;
}
.SNU-HISTORY , .Vissio-Mission{
   text-align: justify;
   padding-left: 50px;
   padding-right: 40px;
   width: 685px;
}
.SNU-HISTORY h2 , .Vissio-Mission h2{
   margin-bottom: 20px;
   border-left: 3px solid var(--tangerine);
   padding-left: 14px;

}

