<%- include("../partials/navbar.ejs") %>

    <div class="Admission_Form">
        <h3>New student registration form</h3>

        <form action="" method="post">
            <div class="FirstName">
                <label for="FirstName">First Name: </label>
                <input type="text" name="FirstName" id="FirstName" required placeholder="First name">
                <label for="LastName">Last Name: </label>
                <input type="text" name="LastName" id="LastName" placeholder="Last name">
            </div>
            <div>
                <label for="MotherName">Mother Name: </label>
                <input type="text" name="MotherName" id="MotherName" placeholder="Mother name" maxlength="20"
                    minlength="5">
            </div>
            <div class="sex">
                <p>Sex:
                    <input type="radio" name="sex" id="sex" value="Male">
                    <label for="male">Male</label>
                    <input type="radio" name="sex" id="sex" value="Female">
                    <label for="Female">Female </label>
                </p>
            </div>
            <div>
                <label for="PlaceBirth">Place of birth: </label>
                <input type="text" name="PlaceBirth" id="PalceBirth" placeholder="place of birth">
            </div>
            <div>
                <label for="DateBirth">Date of birth: </label>
                <input type="date" name="DateBirth" id="DateBirth">
            </div>
            <div>
                <label for="Deegaanka">Deegaanka: </label>
                <input type="text" name="Deegaanka" id="Deegaanka" placeholder="Deegaankaaga">
            </div>
            <div>
                <label for="Email">E-mail: </label>
                <input type="email" name="Email" id="Email" placeholder="E-mail">
            </div>
            <div>
                <label for="Phone">Phone number: </label>
                <input type="number" name="Phone" id="Phone" placeholder="Enter your number">
                <input type="number" name="Phone" id="Phone" placeholder="Enter your second number">
            </div>
            <div>
                <label for="Masuulka">Mas'ulka ardayga: </label>
                <input type="text" name="Masuulka" id="Masuulka" placeholder="Magaca mas'uulka">
                <input type="number" name="Masuulka" id="Masuulka" placeholder="Phone number">
            </div>
            <div>
                <label for="RollNumber">Roll number: </label>
                <input type="text" name="RollNumber" id="Roll-Number" placeholder="Roll number">
            </div>
            <div class="Faculties">
                <label for="faculty" >Choose faculties: </label>
                <div class="ALL">
                    <div class="First">
                        <select id="Faculty" name="faculty">
                            <option value="Computer science">Choose your faculty</option>

                            <optgroup label="Faculty of science">
                                <option value="Computer science">Computer science</option>
                                <option value="Geology">Geology</option>
                                <option value="Marine">Marine</option>
                                <option value="Mathematics">Mathematics</option>
                            </optgroup>
                            <optgroup label="Faculty of Engineering">
                                <option value="Civil Engineering">Civil Engineering</option>
                                <option value="Electrical Engineering">Electrical Engineering</option>
                                <option value="Mechanical Engineering">Mechanical Engineering</option>
                                <option value="Archituctural Engineering">Archituctural Engineering</option>
                            </optgroup>
                            <optgroup label="Faculty of Medicine">
                                <option value="Medicine and sergury">Medicine and sergury</option>
                            </optgroup>
                            <optgroup label="Faculty of Economics">
                                <option value="Accounting">Accounting</option>
                                <option value="Bank and Finance">Bank and Finance</option>
                                <option value="Bure economics">Bure economics</option>
                                <option value="Stastistics">Stastistics</option>
                            </optgroup>
                            <optgroup label="Faculty of Veterinary">
                                <option value="Animal and husbendary">Computer science</option>
                                <option value="Animal medicine">Animal medicine</option>
                            </optgroup>
                            <optgroup label="Faculty of Agriculture">
                                <option value="Agricultural science">Agricultural science</option>
                            </optgroup>
                            <optgroup label="Faculty of Law">
                                <option value="Law">Law</option>
                            </optgroup>
                            <optgroup label="Faculty of social science">
                                <option value="Political science">Political science</option>
                                <option value="Social work">Social work</option>
                                <option value="Jouranalism">Jouranalism</option>
                            </optgroup>
                            <optgroup label="Faculty of Health Sciences">
                                <option value="Health science">Health science</option>
                            </optgroup>
                            <optgroup label="Faculty of Education">
                                <option value="Math and physics">Math and physics</option>
                                <option value="Biology and chemistry">Biology and chemistry</option>
                                <option value="Chemistry and Biology">Chemistry and Biology</option>
                                <option value="Geography and history">Geography and history</option>
                                <option value="History and english">History and english</option>
                                <option value="English and litrature">English and litrature</option>
                                <option value="Arabic and litrature">Arabic and litrature</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="Second">
                        <select id="Faculty" name="faculty">
                            <option value="Computer science">Second choice</option>
                            <optgroup label="Faculty of Veterinary">
                                <option value="Animal and husbendary">Computer science</option>
                                <option value="Animal medicine">Animal medicine</option>
                            </optgroup>
                            <optgroup label="Faculty of Agriculture">
                                <option value="Agricultural science">Agricultural science</option>
                            </optgroup>
                            <optgroup label="Faculty of Law">
                                <option value="Law">Law</option>
                            </optgroup>
                            <optgroup label="Faculty of social science">
                                <option value="Political science">Political science</option>
                                <option value="Social work">Social work</option>
                                <option value="Jouranalism">Jouranalism</option>
                            </optgroup>
                            <optgroup label="Faculty of Health Sciences">
                                <option value="Health science">Health science</option>
                            </optgroup>
                            <optgroup label="Faculty of Education">
                                <option value="Math and physics">Math and physics</option>
                                <option value="Biology and chemistry">Biology and chemistry</option>
                                <option value="Chemistry and Biology">Chemistry and Biology</option>
                                <option value="Geography and history">Geography and history</option>
                                <option value="History and english">History and english</option>
                                <option value="English and litrature">English and litrature</option>
                                <option value="Arabic and litrature">Arabic and litrature</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="Third">
                        <select id="Faculty" name="faculty">
                            <option value="Computer science">Third choice</option>
                            <optgroup label="Faculty of Veterinary">
                                <option value="Animal and husbendary">Computer science</option>
                                <option value="Animal medicine">Animal medicine</option>
                            </optgroup>
                            <optgroup label="Faculty of Agriculture">
                                <option value="Agricultural science">Agricultural science</option>
                            </optgroup>
                            <optgroup label="Faculty of Law">
                                <option value="Law">Law</option>
                            </optgroup>
                            <optgroup label="Faculty of social science">
                                <option value="Political science">Political science</option>
                                <option value="Social work">Social work</option>
                                <option value="Jouranalism">Jouranalism</option>
                            </optgroup>
                            <optgroup label="Faculty of Health Sciences">
                                <option value="Health science">Health science</option>
                            </optgroup>
                            <optgroup label="Faculty of Education">
                                <option value="Math and physics">Math and physics</option>
                                <option value="Biology and chemistry">Biology and chemistry</option>
                                <option value="Chemistry and Biology">Chemistry and Biology</option>
                                <option value="Geography and history">Geography and history</option>
                                <option value="History and english">History and english</option>
                                <option value="English and litrature">English and litrature</option>
                                <option value="Arabic and litrature">Arabic and litrature</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <label for="image">Student image</label>
                <input type="file" name="image" id="image">
            </div>
            <div>
                <label for="BirthCertificate">Birth certiicate</label>
                <input type="file" name="BirthCertificate" id="BirthCertificate">
            </div>
            <div>
                <label for="certificate">High school certificate</label>
                <input type="file" name="certificate" id="certificate">
            </div>

            <div>
                <button type="submit" class="button">Complete</button>
            </div>
        </form>

    </div>






    <%- include("../partials/footer.ejs") %>