<%- include("../partials/navbar.ejs") %>

<div class="AdmissionReq">
    

    <ul>
            <li><div>Fully completed application form. Download from the university website or visit the admission office.</div> </li>
            <li><div>Proof of payment of a non-refundable application fee.</div> </li>   
            <li><div>Certified copies of all academic certificates with official transcripts where applicable.</div> </li>
            <li><div>Certified copy of your National Identification Document or birth certificate.</div> </li>

            <li><div>
                <h2>Proof of Payment of Application fee US$35.00 ($30 registration free, plus $5 student card) for undergraduate programs.</h2>
                <h3>University bank details are as follows: </h3>
                <ul>
                    <li>Account Name: Somali National University</li>
                    <li>Bank: Any</li>
                    <li>Branch Name: Any</li>
                </ul>
            </div> </li>
    </ul>

</div>

<div class="howto">
    <div class="howtoContent">
        <h2>How to Apply</h2>
        <ul class=""></ul>
        <li>
            <div>
                <h3>Obtain application form either by</h3>
                <ul>
                    <li>Downloading from the university website or</li>
                    <li>Request it from email address admissions@snu.edu.so or</li>
                    <li>Get the form from admissions office at any of the university campuses.</li>
                </ul>
            </div>
        </li>

        <li>
            <div>
                <h3>Complete the application form.</h3>
            </div>
        </li>

        <li>
            <div>
                <h3>Attach all the admission requirements as mentioned</h3>
            </div>
        </li>

        <li>
            <div>
                <h3>Send the documents to SNU either by:</h3>
                <ul>
                    <li>Bring documents to admissions office</li>
                    <li>Email us scanned copies to admissions@snu.edu.so</li>
                </ul>
            </div>
        </li>
    </div>
</div>

<div class="fees">

</div>

<div class="admissiomform">

</div>
<%- include("../partials/footer.ejs") %>
